/* src/App.css */
.form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form h2 {
    margin-bottom: 20px;
  }
  
  .form div {
    margin-bottom: 15px;
  }
  
  .form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .form .error {
    color: red;
    font-size: 0.875em;
  }
  
  .form button {
    padding: 10px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
  }
  
  .form button:hover {
    background-color: #0056b3;
  }
  

  .card {
    background-color: #ebf5ff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .card img{
    border-radius: 50%;
  }

  .card button{
    width: 80%;
    border-radius: 10px;
    padding: 10px 15px;
    border: none;
    background-color: #851720;
    color: white;
    cursor: pointer;
  }

  .card button:hover {
    background-color: #9c242e;
  }